.nav-list {
    font-family: 'Roboto';
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 70px;
}
.nav-list__item--link {
    text-decoration: none;
    font-weight: normal;
    color: #000;
    font-size: 16px;
}
.is-active {
    padding: 8px 17px;
    border-radius: 8px;
    background: #1B5BF7;
    color: #fff;
}
.nav-list__item:not(:first-child) {
    margin-left: 40px;
}